<!-- load template with header, footer, etc -->
{% extends 'base_template.html' %}
{% load staticfiles %}

<!-- makes the appropriate list item active in the sidebar for the appropriate page -->
{% block indexactive %} class="active"{% endblock %}

<!-- this page's content here -->
{% block content %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {%  if user.is_authenticated %}
                        {%  if user.first_name != '' %}
                            <h2>Welcome {{ user.first_name }}!</h2>
                        {% else %}
                            <h1>Welcome {{ user.username }}.</h1>
                        {% endif %}
                        <p>Check out your maps <a href="/maps_leaflet/">here</a>!</p>
                    {% else %}
                        <h2>Welcome!</h2>
                        <p><a href="/user/">Login </a> to see your maps or, if you don't have an account yet? Create one <a href="/createaccount/">here</a>.</p>
                    {% endif %}
                </div>
            </div>
        </div>

{%  endblock %}
<!-- end this page's content -->


