<!-- load template with header, footer, etc -->
{% extends 'base_template.html' %}
{% load staticfiles %}

<!-- makes the appropriate list item active in the sidebar for the appropriate page -->
{% block leafletactive %} class="active" {% endblock %}

{% block header %}
    <!--  CSS for Leaflet     -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    {#    <link rel="stylesheet" href="{%  static 'assets/css/leaflet.css' %}" />#}

    <!-- CSS to accompany location control in map (the little blue dot showing where you are!) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />

    <link href=" {% static 'assets/css/leaflet_local.css' %}" rel="stylesheet" />

{% endblock %}

<!-- this page's content here -->
{% block content %}


    {%  if user.is_authenticated %}
        <div id="leaflet_map"> </div>
    {% else %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <h2>Welcome!</h2>
                    <p><a href="/user/">Login </a> to see your maps or, if you don't have an account yet? Create one <a href="/createaccount/">here</a>.</p>
                </div>
            </div>
        </div>
    {% endif %}

{%  endblock %}
<!-- end this page's content -->


{% block scripts %}

    <!-- Javascript leaflet packages -->
{#    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>#}
     <script src="https://cdn.jsdelivr.net/leaflet/1.0.0-rc.3/leaflet.js"></script>

    <!-- ESRI leaflet for handling ESRI ocean basemap -->
    <script src="https://unpkg.com/esri-leaflet@2.0.3"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@1.0.2"></script>

    <!-- Javascript for manipulating notifications -->
    <script src="{% static 'assets/js/notifications.js' %}"></script>

    <!-- Javascript to handle location control in map (the little blue dot showing where you are!) -->
    <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    
    <!-- Javascript for leaflet specific to this project -->
    <!-- (requires notifications.js) -->
    <script src="{% static 'assets/js/leaflet_local.js' %}"></script>
    <script src="{% static 'assets/js/leaflet.rotatedMarker.js' %}"></script>
    <script src="{% static 'assets/js/imagetile_handler.js' %}"></script>

    <script>
        {% if user.is_authenticated %}
            $().ready(function () {
                // initialize map with or without notifications
                let divTag = 'leaflet_map';
                let doNotification = true;
                leaflet_local.initMap(divTag,doNotification);
            });
        {% endif %}
    </script>

{% endblock %}
